@import "tailwindcss";

:root {
  /* dracula colors */
  --background-color: #282a36;
  --current-line-color: #6272a4;
  --selection-color: #44475a;
  --foreground-color: #f8f8f2;
  --comment-color: #6272a4;
  --red-color: #ff5555;
  --orange-color: #ffb86c;
  --yellow-color: #f1fa8c;
  --green-color: #50fa7b;
  --cyan-color: #8be9fd;
  --purple-color: #bd93f9;
  --pink-color: #ff79c6;
}

@theme inline {
  --color-background: var(--background-color);
  --color-current-line: var(--current-line-color);
  --color-selection: var(--selection-color);
  --color-foreground: var(--foreground-color);
  --color-comment: var(--comment-color);
  --color-red: var(--red-color);
  --color-orange: var(--orange-color);
  --color-yellow: var(--yellow-color);
  --color-green: var(--green-color);
  --color-cyan: var(--cyan-color);
  --color-purple: var(--purple-color);
  --color-pink: var(--pink-color);
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
}
