@import "tailwindcss";

:root {
  /* dracula colors */
  --background-color: #282a36;
  --current-line-color: #6272a4;
  --selection-color: #44475a;
  --foreground-color: #f8f8f2;
  --comment-color: #6272a4;
  --red-color: #ff5555;
  --orange-color: #ffb86c;
  --yellow-color: #f1fa8c;
  --green-color: #50fa7b;
  --cyan-color: #8be9fd;
  --purple-color: #bd93f9;
  --pink-color: #ff79c6;
}


